p {
    color: orange;
}

h3 {
    color: blue;
}
a {
    background-color: green;
}

#parrafo3 {
    color: green;
}

.parrafoGris {
    color: gray;
}

.textoAzul {
    color: blue;
}

.parrafoPadding {
    margin: 40px;
}

.fondoRojo {
    background-color: red;
}

.fondoAmarillo {
    background-color: rgb(175, 220, 12);
}

.textoGrandeNegrita {
    font-size: x-large;
    font-weight: 900;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.imagenpequeña {
    height: 200px;
}

.parrafoAngosto {
    width: 350px;
    height: 500px;
}

.contenedorConMargen {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid red;
  padding: 10px;
}

.contenedorDivsGrid {
    border: 2px solid green;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 30% 30% 30%;
    margin: 20px;
}

.divTest {
    border: 1px solid red;
    height: 50px;
}

.contenedorDivsFlex {
    border: 2px solid green;
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: flex-start;
}